@font-face{
	font-family: Akrobat;
	src: url(fonts/Akrobat.otf);
}


body {font-family: Akrobat; font-size: 16pt;line-height: 1.5;}

h2{text-align: center; font-size: 30pt;}

a{color: white;}

  form {
    font-size: 18pt;
  color: white;
  border: 1px solid #CCC;
  border-radius: 1em;
  background: #4281b7;
  box-shadow: 5px 5px 10px #101439; 
}

ul {
  list-style: none;

}

form li + li {
  margin-top: 1em;
}

label {
  margin-right: 50px;
  display: inline-block;
  width: 160px;
  text-align: right;
}

input {
  font: 1em sans-serif;
  width: 70%;
  box-sizing: border-box;
  border: 1px solid #999;
}

.liform{text-align: center; font-size: 20pt; font-weight: bold;}

.pic {display: block;
    margin-left: auto;
    margin-right: auto}


.tdd{ border-bottom: 1px solid #ccc; padding: 20px; color: #050A30;}


.podlozhka3{
  border: 20px ridge rgb(255,195,0, .9);
  border-radius: 10px;
  box-shadow: 20px 20px 50px #ffd700;
  width: 75%;
  margin-left: 12.5%;  
  font-size: 25pt;
margin-bottom: 5%;}

.test{padding: 20px;}

.spisokyslyg{color: #080d7b;}

.div1{width: 100%;
height: 650px;}


.backgr{
    background-image: url(img/fon.png);
    background-size: cover;
}

.backgropac{
    background-image: url(img/fonopac.png);
    background-size: cover;
}


.label {width:35%;
	color: white;
	margin-left: 2%;
	font-size: 40pt;
	font-family: impact;}




.picl{margin-left: 5%;margin-top: 10%;}



.width55 {width: 55px;} .width60{width: 60px;}

.height45{height: 45px;} .height130{height: 130px;}

.height200{height: 200px;} .height250{height: 250px;}

.width175{width: 175px;} .width400{width: 400px;}

.width200{width: 200px;}


   #conta {
    width: 100%;
    background: #fff;
   }
   #head {
   	box-shadow: 0 0 10px black;
    font-size: 18pt;
    background: #70cee7; 
    color: #ffe;
    position: sticky;
    top: 0;
   }
   
.block1{
	
    font-size: 24pt; 
    right: 0;
    background: #70cee7; 
    color: #ffe; 
    width: 55%;
}


.btn {
    margin-left: 11.5%;
    font-weight: bold;
    font-size: 14pt;
    border-radius: 5px;
    background: #70cee7;
    color: black;
    border: 2px solid white;
}


.kto{
    width: 40%;
    margin-left: 5%;

}

.podlozhka{
	padding: 15px;
  border: 1px solid #6d0396;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #6d0396;
  font-size:16pt;
  color: #000000;
  text-shadow: 3px 1px 2px #f1ccff;     
  text-align: center;
  margin-left: 10%;

}

.aboutus{
    color: #fff;
    background: #333;
    text-align: center;
    font-size: 26pt;
      margin-left: 10%;
        border: 1px solid #071515;
  border-radius: 10px;
}

.color {
    text-decoration: none !important;
}
  
   .color:hover {
    color: #3e87b1;
   }

.katalog {
    position: relative;
    margin-left: 20px;
}

 


.animati:hover {
    transform: scale(1.15);
    transition-duration: 0.5s;
}


.exp{ width: 75%;font-size: 18pt; margin: 0 auto; color: white; 
	text-transform: uppercase; background: #4281b7; padding: 75px; text-align: center;
	border: 3px solid rgb(152,140,205, 0.5);
  border-radius: 10px;
  box-shadow: 5px 5px 10px #101439;}


.exp2{padding-top: 12%;}


.block div{display:inline-block; padding-top: 10px; padding-bottom: 10px;}

.name {width:50%;}

.zagtex {width: 100%; height: 50px; background: #70cee7; text-align: center; 
    font-size: 26pt; 
color: #fff;
padding-top: 20px;
padding-bottom: 20px;}


.premium{margin-top: 50px;margin-bottom: 30px;}




.block4{white-space:nowrap;margin-bottom: 30px;}
.block4 div{width:50%; text-align: center;  display:inline-block; font-size: 22pt;font-weight: bold; text-decoration: underline;}


.block3{white-space:nowrap;margin-bottom: 30px;}
.block3 div{width:23%; text-align: center;  display:inline-block; font-size: 12pt;font-weight: bold; }


.block5{white-space:nowrap;padding-bottom: 30px;}
.block5 div{width:33%; text-align: center;  display:inline-block; color: #080d7b; font-size: 22pt;font-weight: bold; }

.block2{white-space:nowrap;padding-bottom: 30px;}
.block2 div{width:50%; text-align: center;  display:inline-block; color: #080d7b; font-size: 26pt;font-weight: bold; }


.mrg {padding-bottom: 100px; padding-top: 75px;}
.circ {border-radius: 150px;
border: 3px solid #fff; 
box-shadow: 5px 5px 10px #101439; 
}

.cont{margin-left: 20px;}

.podlozhka2 {
	padding-top: 15px;
	padding-left: 15px;

  color: #000;    
}

.tabl{width: 100%;}


.frame {height: 550px; width: 400px;}